body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height: 100vh;
}

header{
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
}

nav {
  width: 100%;
  max-width: 960px;
  padding: 1em;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none !important;
}

li a:hover {
    color: #fff;
}

main {
  padding: 2em;
  text-align: center;
}

h1 {
  color: white;
  -webkit-text-stroke: 0.5px black;
}

img {
  border: 1px solid black;
}

canvas {
    margin: 0 auto;
    background-color: #f2f2f2;
}

#carouselExampleControls {
    width: 70%;
    margin: 0 auto;
}

.carousel-control-prev , .carousel-control-next {
    width: auto;
}

.carousel-inner {
    width: 80%;
    margin: 0 auto;
}

.card {
    margin: 0 auto;
    height: 100%;
    padding: 10px;
    border: 1px solid black;
    color: black;
}

.card-title{
    font-weight:bold;
    font-size:15px;
}

.card-text {
    font-size: 14px;
    margin: 0 auto;
}

.card-img-top {
    border: 0px;
    height: 115px;
    margin: 0 auto;
    border-bottom: 1px solid black;
}

.card .btn-primary {
    width: 40%;
    margin: 0 auto;
    background-color: silver;
    border: 1px solid black;
    color: black;
}

.container {
    padding: 30px 0;
}

.row {
    padding: 20px 0;
}

.col-md-6 {
    padding: 50px 0
}

.my-img {
    max-width: 350px;
    max-height: 350px;
}

#tooltip {
    display: none;
    position: absolute;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}