body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-image: url(images/background.jpg);
  background-size: cover;
  color: white;
}

header{
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
}

nav {
  width: 100%;
  max-width: 960px;
  padding: 1em;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 2em;
  text-align: center;
}

h1 {
  color: white;
  -webkit-text-stroke: 0.5px black;
}

img {
  border: 1px solid black;
}

canvas {
    margin: 0 auto;
    max-width: 800px;
    background-color: #f2f2f2;
}

.bd-example {
    max-width: 600px;
    max-height: 600px;
    text-align: center;
    margin: 0 auto;
}

.card {
    height: 450px;
    padding: 10px;
    border: 1px solid black;
    color: black;
}

.card.marija {
    flex-direction: row;
}

.card-img-top.marija{
    width: 30%;
}

.card-title{
    font-weight:bold;
    font-size:15px;
}

.card-text {
    font-size: 14px;
}

.card-img-top {
    max-width: 450px;
    max-height: 450px;
    border: 0px;
    margin:0 auto;
}

.card-body .btn-primary {
    background-color: silver;
    border: 1px solid black;
    color: black;
}

.container {
    padding: 30px 0;
}

.my-img {
    max-width: 350px;
    max-height: 350px;
}